<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>LoginCheckServlet</servlet-name>
        <servlet-class>servlet.LoginCheckServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginCheckServlet</servlet-name>
        <url-pattern>/LoginCheck</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TTForwardServlet</servlet-name>
        <servlet-class>servlet.user.TTForwardServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TTForwardServlet</servlet-name>
        <url-pattern>/TTForward</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AchieveForwardServlet</servlet-name>
        <servlet-class>servlet.achieve.AchieveForwardServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AchieveForwardServlet</servlet-name>
        <url-pattern>/AchieveForward</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ConditionForwardServlet</servlet-name>
        <servlet-class>servlet.ConditionForwardServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConditionForwardServlet</servlet-name>
        <url-pattern>/ConditionForward</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserUpdateCheckServlet</servlet-name>
        <servlet-class>servlet.user.UserUpdateCheckServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserUpdateCheckServlet</servlet-name>
        <url-pattern>/UserUpdateCheck</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserDeleteServlet</servlet-name>
        <servlet-class>servlet.user.UserDeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserDeleteServlet</servlet-name>
        <url-pattern>/UserDelete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserSearchServlet</servlet-name>
        <servlet-class>servlet.user.UserSearchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserSearchServlet</servlet-name>
        <url-pattern>/UserSearch</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserRegistServlet</servlet-name>
        <servlet-class>servlet.user.UserRegistServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserRegistServlet</servlet-name>
        <url-pattern>/UserRegist</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserInsertOrUpdateServlet</servlet-name>
        <servlet-class>servlet.user.UserInsertOrUpdateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserInsertOrUpdateServlet</servlet-name>
        <url-pattern>/UserInsertOrUpdate</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SyllabusDeleteServlet</servlet-name>
        <servlet-class>servlet.syllabus.SyllabusDeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SyllabusDeleteServlet</servlet-name>
        <url-pattern>/SyllabusDelete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SyllabusSearchServlet</servlet-name>
        <servlet-class>servlet.syllabus.SyllabusSearchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SyllabusSearchServlet</servlet-name>
        <url-pattern>/SyllabusSearch</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SyllabusRegistServlet</servlet-name>
        <servlet-class>servlet.syllabus.SyllabusRegistServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SyllabusRegistServlet</servlet-name>
        <url-pattern>/SyllabusRegist</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CourseCheckServlet</servlet-name>
        <servlet-class>servlet.course.CourseCheckServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CourseCheckServlet</servlet-name>
        <url-pattern>/CourseCheck</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CourseRegistrationServlet</servlet-name>
        <servlet-class>servlet.course.CourseRegistrationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CourseRegistrationServlet</servlet-name>
        <url-pattern>/CourseRegistration</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AchieveRegUploadServlet</servlet-name>
        <servlet-class>servlet.achieve.AchieveRegUploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AchieveRegUploadServlet</servlet-name>
        <url-pattern>/AchieveRegUpdate</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AchieveRegistServlet</servlet-name>
        <servlet-class>servlet.achieve.AchieveRegistServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AchieveRegistServlet</servlet-name>
        <url-pattern>/AchieveRegist</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MainForwardServlet</servlet-name>
        <servlet-class>servlet.MainForwardServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainForwardServlet</servlet-name>
        <url-pattern>/MainForward</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MyUserForwardServlet</servlet-name>
        <servlet-class>servlet.user.MyUserForwardServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MyUserForwardServlet</servlet-name>
        <url-pattern>/MyUserForward</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Top</servlet-name>
        <servlet-class>servlet.TopServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Top</servlet-name>
        <url-pattern>/Top</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SyllabusDetailServlet</servlet-name>
        <servlet-class>servlet.syllabus.SyllabusDetailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SyllabusDetailServlet</servlet-name>
        <url-pattern>/SyllabusDetail</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SyllabusInsertOrUpdateServlet</servlet-name>
        <servlet-class>servlet.syllabus.SyllabusInsertOrUpdateServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SyllabusInsertOrUpdateServlet</servlet-name>
        <url-pattern>/SyllabusInsertOrUpdate</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PeriodRegistrationServlet</servlet-name>
        <servlet-class>servlet.periodRegistrationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PeriodRegistrationServlet</servlet-name>
        <url-pattern>/periodRegistration</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AchieveMainServlet</servlet-name>
        <servlet-class>servlet.achieve.AchieveMainServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AchieveMainServlet</servlet-name>
        <url-pattern>/achieveMain</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CourseMainServlet</servlet-name>
        <servlet-class>servlet.course.CourseMainServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CourseMainServlet</servlet-name>
        <url-pattern>/CourseMain</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SyllabusMainServlet</servlet-name>
        <servlet-class>servlet.syllabus.SyllabusMainServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SyllabusMainServlet</servlet-name>
        <url-pattern>/SyllabusMain</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TimeTableMainServlet</servlet-name>
        <servlet-class>servlet.timetable.TimeTableMainServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TimeTableMainServlet</servlet-name>
        <url-pattern>/TimeTableMain</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserMainServlet</servlet-name>
        <servlet-class>servlet.user.UserMainServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserMainServlet</servlet-name>
        <url-pattern>/UserMain</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>servlet.MainServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/Main</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserDetailServlet</servlet-name>
        <servlet-class>servlet.user.UserDetailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserDetailServlet</servlet-name>
        <url-pattern>/UserDetail</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserResultServlet</servlet-name>
        <servlet-class>servlet.user.UserResultServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserResultServlet</servlet-name>
        <url-pattern>/UserResult</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SyllabusResultServlet</servlet-name>
        <servlet-class>servlet.syllabus.SyllabusResultServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SyllabusResultServlet</servlet-name>
        <url-pattern>/SyllabusResult</url-pattern>
    </servlet-mapping>
    <error-page>
        <error-code>404</error-code>
        <location>/error/404.html</location>
    </error-page>

</web-app>
