form {
    margin: 0 0 0 0;
}

.div {
    background-color: #AAAAAA;
}

.btn_1 {
    margin: 10px 10px 10px 10px;
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: #AA5500;
    width: 130px;
    height: 50px;
    line-height: 25px;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    font-weight: bold;
    background-image: -webkit-linear-gradient(#75A9FF 0%, #DD0000 100%);
    background-image: linear-gradient(#C6E9FC 0%, #9CDAFD 100%);
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.28);
}

.btn_1:active { /*押したとき*/
    -ms-transform: translateY(2px);
    -webkit-transform: translateY(2px);
    transform: translateY(2px); /*沈むように*/
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
    background-image: -webkit-linear-gradient(#00ff7f 0%, #005FFF 100%);
    background-image: linear-gradient(#AA0000 0%, #00ff7f 100%); /*グラデーションを明るく*/
}

.btn_2 {
    display: inline-block;
    padding: 25px 50px;
    text-decoration: none;
    background: #f7f7f7;
    border-left: solid 6px #EEEE88; /*左線*/
    color: #FF7732; /*文字色*/
    font-weight: bold;
    box-shadow: 3px 5px 0px rgba(0, 0, 0, 0.30);
}

.btn_2:active {
    box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.1);
    transform: translateY(2px);
}

.btn_3 {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    color: #000000;
    border: double 6px #A00000;
    border-radius: 3px;
    transition: .4s;
    background-color: #FF1010;
    background-image: -webkit-linear-gradient(#DCDCDC, #0000BB 100%);
    box-shadow: 2.5px 3.5px 0px rgba(0, 0, 0, 0.30);
}

.btn_3:active { /*押したとき*/
    border: double 6px #A00000;
    -ms-transform: translateY(2px);
    -webkit-transform: translateY(2px);
    transform: translateY(2px); /*沈むように*/
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
    background-image: -webkit-linear-gradient(#FFD700 0%, #FFD700 100%);

}

.btn_4 {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    color: #000000;
    border: double 6px #FFFF10;
    border-radius: 3px;
    transition: .4s;
    background-color: #10FF10;
    background-image: -webkit-linear-gradient(#DCDCDC, #0000BB 100%);
    box-shadow: 2.5px 3.5px 0px rgba(0, 0, 0, 0.30);
}

.btn_4:active { /*押したとき*/
    border: double 4px #FFFF10;
    -ms-transform: translateY(2px);
    -webkit-transform: translateY(2px);
    transform: translateY(2px); /*沈むように*/
    background-color: #10FF10;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
    background-image: -webkit-linear-gradient(#10FF10 0%, #10FF10 100%);
}

.btn_5 {
    position: relative;
    display: inline-block;
    padding: 0.25em 0.5em;
    text-decoration: none;
    background: #DDDDFF; /*背景色*/
    color: #00BCD4; /*=背景色*/
    box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2);
    border-bottom: solid 2px #118e9e;
    border-radius: 4px;
    font-weight: bold;
    text-shadow: -1px -1px rgba(255, 255, 255, 0.44), 1px 1px rgba(0, 0, 0, 0.38);
}

.btn_5:active { /*押したとき*/
    border-bottom: solid 2px #00BCD4;
    box-shadow: none;
    text-shadow: -1px -1px rgba(255, 255, 255, 0.3), 1px 1px rgba(0, 0, 0, 0.3);
}

table {
    border: solid 1px #000000;
    border-collapse: collapse;
    position: center;
    background-color: #EEEEEE;
}

tr:nth-child(odd) {
    background-color: #D9E5FF;
}

th, td {
    padding: 5px 15px;
}